.cache
.idea/*
.DS_Store
build
node_modules
src/**.js
*.log
yarn.lock
src/interfaces/*
!src/interfaces/definitions.ts
!src/interfaces/default
src/interfaces/default/*
!src/interfaces/default/.keep
docs
