name: integration tests (Kintsugi)

on:
    pull_request:
        branches:
            - master

concurrency:
    group: ${{ github.ref }}_kintsugi
    cancel-in-progress: true

# NOTE: instant-seal is only compatible with the testnet-kintsugi runtime
# SEE: https://github.com/interlay/interbtc/issues/955
# TODO: run tests using testnet-interlay runtime
jobs:
    test:
        runs-on: [self-hosted, linux]
        timeout-minutes: 10
        steps:
            - uses: actions/checkout@v4
            - name: setup node
              uses: actions/setup-node@v3
              with:
                  node-version: "18"
            - run: corepack enable
            - run: yarn install
            - name: Check versions
              run: |
                  yarn --version
                  npx node --version
                  npx ts-node --version
            - name: Run required services
              run: docker-compose up --detach
            - run: yarn ci:test
            - name: Archive Docker logs
              if: always()
              run: docker-compose logs > logs.txt
            - name: Upload logs
              if: always()
              uses: actions/upload-artifact@v4
              with:
                  name: docker-compose-logs
                  path: logs.txt
