name: integration test

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
    build:
        runs-on: [self-hosted, linux]
        steps:
            - uses: actions/checkout@v2
            - name: setup node
              uses: actions/setup-node@v2
              with:
                  node-version: "14.x"
            - run: npm install -g yarn
            - run: yarn install
            - name: Run and set up the parachain, oracle, staked relayer and vault
              run: docker-compose up -d
            - run: yarn ci:test
